<h1> Here are your trades</h1>
<%@trades.each do |trade| %>
<li><%= trade.id %>: <%= trade.entry %> - <%= trade.exit %> = <%= trade.profit_loss %><a href ='/trade/<%= trade.id %>'>Click here to view</a> </li>
<%end%>

<a href = '/trade/new'> Click here to add a position</a>